<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>shootoff-diagnostics.log</file>
    <append>true</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>


  <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
    <dsn>http://e125530c2ca249bd956343ca2ad09dd4:c34458865bef486195a6b0341e95e3de@dev.shootoffapp.com:9000/1</dsn>
    <tags>shootoff-diagnostic-tool:1.3</tags>
  </appender>

  <root level="warn">
    <appender-ref ref="Sentry"/>
  </root>

  <root level="warn">
    <appender-ref ref="STDOUT"/>
  </root>

  <root level="warn">
    <appender-ref ref="FILE"/>
  </root>
</configuration>

